<html>
    <head>
        <title><%=title%></title>
        <%-style%>
        <script src="https://kit.fontawesome.com/940b727002.js" crossorigin="anonymous"></script>
    </head>
    <%-body%>
  
</html>